* {
    font-family: 'poppins', sans-serif;

}


body {
    padding: 0;
    margin: 0;
    background: url(./img/loginbackground.png);
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-sizing: border-box;
}


.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    position: relative;
}

.container h3 {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);    
    color:#fff;
    top: 0;
    z-index: 10;
    display: block;
}

.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.top {
    color: #fff;
}

.top>span {
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top>h4 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 0 0;
    padding: 10px 0;
}


.form-list .input {
    width: calc(100% - 45px);
    height: 45px;
    outline: none;
    border: none;
    padding: 0 0 0 45px;
    border-radius: 30px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
}

.submit {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: 0.3s;
}

.submit:hover {
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}



.form-list ion-icon {
    position: relative;
    top: -33px;
    left: 14px;
    color: #fff;
    --ionicon-stroke-width: 50px;
}




::-webkit-input-placeholder {
    color: #fff;
}

.form-list .input:not(:placeholder-shown) {
    color: #fff;
}


.notes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: small;
    color: #fff;
    align-items: center;
    margin-top: 10px;

}

.checked {
    color: #fff;
}

.forgot-pass label a {
    text-decoration: none;
    color: #fff;
}